<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>TAKE TMA</h1>
    <button>Take Module Quiz</button>
    <button onclick="location.href='{% url 'tma03' %}'">EXECUTE SCRIPT</button>
    
    <h4 id='neatdata'>123</h4>

    {% if data %}
        <form id="quizForm">
            {% for question_num, question_data in data.items %}
                <h3>Question {{ question_num }}:</h3>
                <p>{{ question_data.question }}</p>
                <ul>
                    {% for solution in question_data.solutions %}
                        <li>
                            <label>
                                <input type="radio" name="question{{ question_num }}" value="{{ solution }}" />{{ solution }}
                            </label>
                        </li>
                    {% endfor %}
                </ul>
            {% endfor %}
            <button type="submit">Submit</button>
        </form>
    {% endif %}
</body>
</html>
