<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> HOME</h1>
    <a href="{% url 'take_tma' %}" class="button-link">Take TMA</a>
    <button>Take Module Quiz</button>
    <BUTTON onclick="location.href='{% url 'script'%}'"> EXECUTE SCRIPT</BUTTON>
    
    
    <h4 id='neatdata'></h4>
<script>
    var data = JSON.parse("{{data|escapejs}}");
    var dataNode = document.getElementById('neatdata')
    for(var x in data){
        dataNode.innerHTML+=data;
        
    }
</script>
</body>
</html>