{% extends 'core/base.html'%}
{% load static %}
{% block title%}About us {%endblock%}

{% block content %}
<link rel="stylesheet" href ="{% static 'homestyles1.css'%}">
<link rel="stylesheet" href ="{% static 'aboutus.css'%}">
<main>
    <article class="flow">
      <h1 class="aboutusTitle">About Us</h1>
      <p class="lead">" Our platform empowers users to create and share quizzes on a wide range of topics, from history and science to pop culture and beyond. Whether you're a teacher looking to gamify your lessons, a student wanting to test your knowledge, or just someone who loves trivia, QuizMaster is your go-to destination."</p>
      <div class="aboutusHero">
      <div class="aboutusHeroSection left"><h2>Our company values</h2>
      </div>
      <div class="aboutusHeroSection right">
        <div class="value commitment">
          <h3>Commitment</h3>
          <p class="aboutusValues">Openness with our team & clients. We raise issues & provide solutions promptly.</p>
        </div>
        <div class="value transparency">
          <h3>Transparency</h3>
          <p class="aboutusValues">Our word and hard work over everything else. Our clients and vision are our guiding beacons</p>
        </div>
        <div class="value selfImprovement">
          <h3>Self Improvement</h3>
          <p class="aboutusValues">Never stop learning, never stop evolving into who we want to be and where we want to be.</p>
        </div>
        <div class="value overDeliver">
          <h3>Over Deliver</h3>
          <p class="aboutusValues">Deliver more value than our team & clients expect. Every day, over every delivery.</p>
        </div>

      </div>
      
      </div>
    
    </article>
    <article class="two-column">
      <p class="aboutusLead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestiae modi ab recusandae aliquid perspiciatis
        unde dolorum id natus velit vel, facere excepturi similique nemo enim quasi nam, expedita inventore? Repellat
        aspernatur ducimus facilis nemo omnis sunt unde, vel doloribus error enim id deleniti saepe placeat.
      </p>
      <p class="aboutusColumnText">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestiae modi ab recusandae aliquid perspiciatis
          unde dolorum id natus velit vel, facere excepturi similique nemo enim quasi nam, expedita inventore? Repellat
          aspernatur ducimus facilis nemo omnis sunt unde, vel doloribus error enim id deleniti saepe placeat.
      </p>
      <p class="aboutusColumnText">Voluptatem <a href="#">ipsum tempora vel quisquam</a> cumque natus nesciunt vitae ipsam in inventore, earum eligendi impedit.
          <a href="https://google.com">Sunt quis veniam</a> numquam vitae, magnam, debitis reiciendis in voluptas porro voluptatum, est consequuntur
          illo! Assumenda saepe aliquid eos fugiat rerum similique sequi illo velit amet officia voluptas, sed ducimus.
        </p>
      <p class="aboutusColumnText">Quasi necessitatibus mollitia quisquam officiis molestiae fugiat officia cumque tempora accusamus adipisci
          quia, suscipit earum rerum illo, fugit architecto fuga eius error labore! Ducimus voluptate quae aliquid
          obcaecati beatae exercitationem quaerat molestiae quos, atque dolorum id quo sint vero sit reiciendis cumque
          consectetur molestias temporibus.</p>
      <blockquote>"Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, blanditiis."</blockquote>
      <p class="aboutusColumnText">Molestiae magnam similique dolorum vero libero doloribus neque, voluptas natus sunt facere ipsa cupiditate
        placeat necessitatibus cum perferendis ducimus deserunt architecto nesciunt, illum ab aliquid minus
        dignissimos dolore voluptatibus? Perferendis, incidunt! Repellendus numquam nobis quidem totam dolor aliquid.
        Placeat rerum eveniet doloribus asperiores quis iusto!</p>
  </article>
  </main>

{% endblock %}