{% extends 'core/base.html'%}
{% load static %}
{% block title%}Contact {%endblock%}
{% block scripts %}
 
{% endblock scripts %}

{% block content %}
<script src="{% static 'browse.js' %}" defer></script>
<link rel="stylesheet" href ="{% static 'homestyles1.css'%}">
<link rel="stylesheet" href ="{% static 'browse.css'%}">
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="exampleModalLabel" style="color: black;">Start Test?</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="modal-body-confirm">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">No</button>
        <button type="button" id="start-button" class="btn btn-success">Yes</button>
      </div>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-body" style="align-items: center; justify-content: center;">
    <H2 style="align-items: center; text-align: center; color: aliceblue;">Browse quizzes</H2>
    {% for item in object_list %}
    <div class="list-group" style="padding-right: 20%; padding-left: 20%;">
    <a href="#" class="list-group-item list-group-item-action modal_clickable" data-bs-toggle="modal" data-bs-target="#exampleModal"
    data-pk="{{item.pk}}"
          data-quiz ="{{item.title}}"
          data-questions="{{item.number_of_questions}}"
          data-difficult="{{item.difficulty}}"
          data-time="{{item.time}}"
          data-pass="{{item.required_score_to_pass}}"
          data-bs-toggle="modal"
          data-bs-target="#quizStartModal">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{ item.title }}</h5>
        <small class="text-body-secondary" style="color:black ;">{{ item.get_status_display }}</small>
      </div>
      <p class="mb-1" style="color:black ;">{{ item.description }}.</p>
      <small class="text-body-secondary" style="color:black ;">Author: {{ item.creator }}</small>
    </a>
    </div>
    <br>
    {% endfor %}
  </div>
</div>

{% endblock %}