<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> HOME</h1>
    <a href="{% url 'take_tma' %}" class="button-link">Take TMA</a>
    <BUTTON onclick="location.href='{% url 'script'%}'"> EXECUTE SCRIPT</BUTTON>
    <BUTTON onclick = "location.href='{%url 'moduleTest'%}'">Take Module Test</BUTTOn>
    {% if data %}
    {{data}}
    {%endif%}
    <form action="add" method = 'post'>
        {% csrf_token %}
        enter 1st number : <input type="text" name = "num1"> <br>
        enter 2nd number : <input type="text" name = "num2"> <br>
        <input type="submit">  
    </form>
    {%block content %}
     Result : {{result}}
    {% endblock %}

<script>
    
</script>
</body>
</html>